body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.background {
  width: 24%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);

  animation: fadein 1.25s;
  -moz-animation: fadein 1.25s; /* Firefox */
  -webkit-animation: fadein 1.25s; /* Safari and Chrome */
  -o-animation: fadein 1.25s; /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#login_contain {
  width: 100%;
  opacity: 100%;
  z-index: 99;
}

.title {
  width: auto;
  height: 55px;
  background: url(/static/commend/99pro_logo_w.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 38px 0;
}

.field {
  width: 100%;
  height: auto;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin: 8px 0;
  margin-bottom: 20px;
}

#comeon {
  margin-bottom: 35px;
}

.input{
  width: 220px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  text-align: center;
}

.input:hover {
  width: 190px;
  outline: none;
  border-bottom: 1px solid #ffffff;
  transition: 0.35s;
}


.input:focus {
  width: 175px;
  outline: none;
  border-bottom: 1px solid #ffffff;
  transition: 0.35s;
}

.input::placeholder {
  color: #ffffff;
  text-align: center;
}

.control {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  width: 195px;
  height: 40px;
  background-color:rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 20px;
  color: #ffffff;
  font-size: 0.8rem;
  margin-bottom: 18px;
}
.button:hover {
  color: #23a6d5;
  background-color:rgba(255, 255, 255, 0.65);
  transition: 0.3s;
  font-weight: 500;
}

.button:focus {
  outline: none;
  color: #23a6d5;
  background-color:rgba(255, 255, 255, 1);
  transition: 0.3s;
}
