/**헤더**/
.header{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  box-shadow: 0px 3px 20px #f0f0f0;
}

.logo{
  width: 24.5%;
    height: 32.5px;
    background-image: url(/commend/99pro_logo.svg);
    background-repeat: no-repeat;
    margin-left: 5.5%;
}

.user_link{
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user_link_text{
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 15px;
  margin-right: 10px;
  padding-left: 15px;
  background-color: #f0f0f0;
}

.user_link_text:hover{
  color: transparent;
  background-color: #b3dbff;
  transition: 0.35s;
}

.user_link_text:focus{
  outline: none;
  color: #ffffff;
  background-color: #3ea6ff;
  transition: 0.85s;
}

.user_link_text:focus::placeholder{
  color: transparent;
}

.user_link_button{
  width: 100px;
  height: 40px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 15px;
  margin-right: 10px;
  color: #5a5a5a;
  font-size: 0.8rem;
}

.user_link_button:hover{
  color: #ffffff;
  background-color: #3ea6ff;
  transition: 0.3s;
}

.user_link_button:focus{
  color: #ffffff;
  background-color: #3ea6ff;
  transition: 0.3s;
}

.twinkle{
  width: 40px;
  height: 40px;
  margin: 0 20px;
  border-radius: 15px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5a5a5a;
}

.twinkle:hover{
  background-color: #5a5a5a;
  transition: 0.35s;
  color: #ffffff;
}

.logout_button, .withdrawal{
  width: 100px;
  height: 40px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 15px;
  color: #5a5a5a;
  font-size: 0.8rem;
}

.logout_button{
  margin: 0 5% 0 10px ;
}

.logout_button:focus, .withdrawal:focus{
  color: #ffffff;
  background-color: #cccccc;
  transition: 0.3s;
}

.logout_button:hover, .withdrawal:hover{
  color: #ffffff;
  background-color: #cccccc;
  transition: 0.3s;
}

/**좌측 비디오 섹션**/
.left_box{
  width: 55%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: left;

  animation: fadein 2.25s;
  -moz-animation: fadein 2.25s;
  -webkit-animation: fadein 2.25s;
  -o-animation: fadein 2.25s;
}

.video_play{
  width: 80%;
  height: 50%;
  background-color:gree;
  box-shadow: 0px 13px 20px #f0f0f0;
}

.video_information{
  width: 80%;
  height: 12%;
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_1, .info_2, .info_3{
  width: 16%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.info_1{
  width: 54%;
  flex-direction: column;
  align-items: flex-start;
}

.info_2{
  width: 25%;
  margin: 0 20px;
}

.rank_text{
  font-size: 0.95rem;
  color: #3ea6ff;
  font-weight: 400;
}
.name_text{
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0.5rem 0 0.8rem 0;
}
.views_text{
  font-size: 0.85rem;
  color: #aaaaaa;
}

.youtuber_pic{
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-right: 10px;
  background-color: green;
}

.youtuber_name_text{
  font-size: 1.4rem;
  padding-top: 0.2rem;
  letter-spacing: 1px;
}

.subscriber_number{
  font-size: 0.8rem;
  margin-top: 5px;
  color: #aaaaaa;
}

.like, .dislike{
  width: 80px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 5px;
  font-size: 1.8rem;
  color: #cccccc;
}

.info_like_number{
  margin-top: 8px;
  font-size: 0.5rem;
}

.dislike{
  transform: scaleX(-1);
}

.dislike, .info_like_number{
  transform: none;
}

.fa-thumbs-up:hover{
  transition: 0.35s;
  color: #3ea6ff;
}

.fa-thumbs-down:hover{
  transition: 0.35s;
  color: #fa4e4e;
}

.video_input_chat{
  width: 80%;
  height: 12%;
}

.user_input_chat{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user_pic{
  width: 38px;
  height: 38px;
  margin-right: 10px;
  border-radius: 100%;
  background-color: rosybrown;
}

.user_comment{
  width: 94%;
  height: 35px;
  border: none;
  border-bottom: 1.5px solid #cccccc;
}

.user_comment:focus{
  outline: none;
  border-bottom: 1.8px solid #3ea6ff;
}

.user_comment:hover{
  border-bottom: 1.8px solid #3ea6ff;
  transition: 0.6s;
}

.user_comment_send{
  width: 90px;
  height: 40px;
  background-color: #f0f0f0;
  margin-top: 15px;
  border: none;
  float: right;
}

.user_comment_send:focus{
  outline: none;
}

.user_comment_send:hover{
  background-color: #3ea6ff;
  color: #ffffff;
  transition: 0.4s;
}

/**우측 댓글 섹션**/
.right_box{
  width: 45%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: right;

  animation: fadein 3.25s;
  -moz-animation: fadein 3.25s;
  -webkit-animation: fadein 3.25s;
  -o-animation: fadein 3.25s;
}

.chat_output{
  width: 80%;
  height: 55%;
  box-shadow: 0px 8px 20px #f0f0f0;
}

.chat_output:hover{
  box-shadow: 0px 5px 8px #cccccc;
  transition: 0.5s;
}

.comment_list {
  margin: 0 auto;
  width: 94%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.comment_list::-webkit-scrollbar {
  display: none;
}

.list_1{
  width: 100%;
  height: auto;
  margin-top: 0.6rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f0f0f0;
}

.list_thumnail{
  min-width: 80px;
  height: 45px;
  margin: 8px 0;
  background-color:cadetblue;
}

.list_like{
  min-width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem;
  color: #cccccc;
  margin: 0 15px;
}

.like_number{
  margin-top: 7px;
  font-size: 0.7rem;
}

.list_user_form{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.list_user_name{
  width: auto;
  height: 20px;
  margin-right: 25px;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 20px;
}

.fa-edit, .fa-trash-alt{
  font-size: 0.9rem;
  font-weight: 400;
  color: #cccccc;
}

.fa-edit{
  margin-right: 15px;
}

.fa-edit:hover, .fa-trash-alt:hover{
  color: #5a5a5a;
  font-weight: bold;
  transition: 0.35s;
}

.list_user_text{
  width: 100%;
  height: auto;
  font-size: 0.8rem;
  font-weight: 500;
  word-break:break-all;
  letter-spacing: 0.5px;
  line-height: 1.1rem;
}

.chat_rank{
  width: 80%;
  height: 25%;
  margin-top: 20px;
  box-shadow: 0px 13px 20px #f0f0f0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat_rank:hover{
  box-shadow: 0px 5px 8px #cccccc;
  transition: 0.55s;
}

.chat_rank_list{
  margin: 0 auto;
  width: 94%;
  height: auto;
}

.rank_gold, .rank_silver, .rank_bronze{
  width: 35px;
  height: 35px;
  background-image: url(/commend/number_1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.rank_silver{
  background-image: url(/commend/number_2.png);
}

.rank_bronze{
  background-image: url(/commend/number_3.png);
}

#rank_gold, #rank_silver, #rank_bronze{
  color: #3ea6ff;
}


@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}