<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/login.css">

    <script type="text/javascript">

        function login_info() {
            let email = $('#input_id').val();
            let pw = $('#input_pw').val();

            $.ajax({
                type:'POST',
                url:'/api/login',
                data:{email:email, password:pw},
                success: function (response) {
                    if(response['msg']=='success') {
                        $.cookie('mytoken', response['token']);
                        alert('환영합니다!')
                        localStorage.setItem('jwt',response['token'])
                        window.location.href = '/home'
                    } else {
                        alert('ID와 비밀번호를 확인해주세요!')
                    }
                }
            })
        }
    </script>

</head>

<body>
<div class="background">
    <section class="hero is-info" id="login_contain">
      <div class="hero-body">
        <div class="title"></div>
      </div>
    </section>

    <div class="field">
      <p class="control has-icons-left has-icons-right" id="user_input_id">
        <input id="input_id" class="input" type="email" placeholder="Email을 입력해주세요">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input id="input_pw" class="input" type="password" placeholder="비밀번호를 입력해주세요">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-success" onclick="login_info()">
          Login
        </button>
        <!--회원가입 버튼-->
        <button class="button is-success" onclick="login_info()">
          회원가입
        </button>
      </p>
    </div>
</div>   
</body>
</html>