<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>분노의 투기장 - 회원가입 페이지</title>
    <!--favicon-->
    <link
    rel="shortcut icon"
    type="image/x-icon"
    href="/static/commend/favicon.ico"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/register.css">
    
    <script type="text/javascript" src="/static/register.js"></script>

</head>
<body>
  <div class="background">

    <div id="register_contain">
      <div class="title"></div>
    </div>

      <div class="hi_text_box">
        <p class="hi_text_3">👋</p>
        <h4 class="hi_text_1">회원 가입 페이지 입니다</h4>
        <p class="hi_text_2">비밀번호는 안전하게 저장되니 걱정하지 마세요 !</p>
      </div>


        <div class="form-group">
            <label for="exampleInputEmail1"></label>
            <input type="email" class="form-control" id="email-id" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="유효한 이메일을 입력해주세요.">
        </div>
        <button class="button is-primary" onclick="email_valid_checker()" id="button_one">중복검사</button>
        <div class="form-group">
            <label id="sobangcha" for="exampleInputPassword1"></label>
            <input type="password" class="form-control" id="password" id="exampleInputPassword1" placeholder="비밀번호를 입력해주세요.">
        </div>

        <div class="form-group">
            <label id="sobangcha" for="exampleInputPassword1"></label>
            <input type="password" class="form-control" id="password_check" id="exampleInputPassword1" placeholder="비밀번호를 다시 입력해주세요.">
        </div>

        <div class="form-group">
            <label id="sobangcha" for="exampleInputPassword1"></label>
            <input type="text" class="form-control" id="name" id="exampleInputPassword2" placeholder="닉네임을 입력해주세요">
        </div>
    
    <button class="button is-primary" onclick="user_register()" id='button_end_2'>회원가입</button>
    <button class="button is-primary" onclick="user_register()" id='button_end'>
      <a href="#">뒤로가기</a>
    </button>


  </div>
</body>
</html>